@model IEnumerable<School.Models.Class>

@{
    ViewData["Title"] = "Index";
}

<h1>Classes</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.class_name)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.created_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modified_date)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.class_name)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.created_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modified_date)
            </td> *@
            <td>
                <div class="d-grid gap-1 d-md-block">
                    <a class="btn btn-outline-secondary" asp-action="Edit"  asp-route-id="@item.id">Edit</a> 
                    <a class="btn btn-outline-success" asp-action="Details" asp-route-id="@item.id">Details</a> 
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
</div>